body {
	text-align: center;
	font-size: 200%;
	padding: 20px;
	background-image: linear-gradient(red, orange, white, pink, rgb(171,39,79));

}

a {
	font-size: 150%;
	text-decoration: none;
	padding: 20px ;
	display: inline-block;
}
