body {
	text-align: center;
	background-image: linear-gradient(skyblue, pink, white, pink, skyblue);
	padding: 0px;
}

h1 {
	color : darkblue;
	text-align: center;
	font-size: 400%;
	border: black;
}

a {
	font-size: 200%;
	text-decoration: none;
	padding: 20px ;
	display: inline-block;
}

.head {
	border: darkblue;
	
}

.button {
	color:  black;
	background-color: pink;
	position: absolute;
	top: 30px;
	right: 30px;
	border-radius: 10px;
	font-size: 150%;
}
